@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700; 800;900&display=swap");
.header{
    background: linear-gradient(29deg, #f1edeaf0 0, #ff6e00d9 49%, #ee711396 94%);
}
.logodiv{

}
.logo{
    width: 180px;
    height: 71px;

}
.logout{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

