<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseHomepage </title>
    <!--css externals-->
    <link rel="stylesheet" href="AdminHomepage.css" th:href="@{/css/AdminHomepage.css}"/>
    <link rel="stylesheet" href="CourseHomepage.css" th:href="@{/css/CourseHomepage.css}"/>
     <link rel="stylesheet" href="SideNavbar.css" th:href="@{/css/SideNavbar.css}"/>
      <link rel="stylesheet" href="footer.css" th:href="@{/css/footer.css}"/>
   <link rel="stylesheet" href="header.css" th:href="@{/css/header.css}"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- icon link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
        body {
            margin: 20px;
        }
    </style>
    
</head>
<body>
   <!-- Importing NavBar -->
	<div th:insert="header.html :: header"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Fixed Navbar -->
        <div class="col-md-3 col-lg-2 d-md-block sidebar navbar-nav dashboard">
             
     <!-- side navbar -->
       <div th:insert="SideNavbar.html :: sidenavbar"></div>
        </div>
                
       
        <!-- Main content -->
            
            <div class="col-md-9 ml-sm-auto col-lg-10  content  placements-row">
                <!-- Course Table -->
                <div class="container">
                    <h1 class="mb-4 text-center heading1">Courses Details</h1>

                    <!-- Add New Course Button -->
                    <a  th:href="@{/getCourseregisterform}" class="btn btn-primary mb-4">Add New Course <i class="fa-solid fa-arrow-right"></i></a>

                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Cid</th>
                                <th scope="col">Cname</th>
                                <th scope="col">Fee</th>
                                <th scope="col">Duration</th>
                               
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Thymeleaf Iteration Over Courses -->
                            <tr th:each="course : ${allcourse}">
                                <td th:text="${course.id}"></td>
                                <td th:text="${course.coursename}"></td>
                                <td th:text="${course.coursefee}"></td>
                                <td th:text="${course.duration}"></td>
                                
                                <td>
                                    <a th:href="@{/getcourseByIdandEdit/{id}(id=${course.id})}" class= "btn btn-secondary btn-sm">
                                        Edit <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a  th:href="@{/getcourseByIdandDelete/{id}(id=${course.id})}" class="btn btn-secondary btn-sm">
                                        Delete <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>

            </div>
                            
                    
        </div>
    </div>

<!-- Footer -->
<!-- Importing Footer -->
	<div th:insert="footer.html :: footer"></div>


</body>
</html>
