
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideNavbar</title>
    
     <link rel="stylesheet" href="header.css" th:href="@{/css/header.css}"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        body {
            margin: 20px;
        }
	    
	    
    </style>
</head>
<body>
         <div class="position-sticky" th:fragment="sidenavbar">
                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link navbtn active" aria-current="page" href="getJavaAdminHomePage">
                            <button class="btn  btn1 ">Homepage<i class="fa-solid fa-arrow-left"></i></button>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn active" aria-current="page" href="getCourseHomePage">
                            <button class="btn  btn1 ">Courses<i class="fa-solid fa-arrow-right"></i></button>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn" href="getAllBatches">
                            <button class="btn btn1">All Batches <i class="fa-solid fa-arrow-right"></i></button>

                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn" href="navigatetoFacultyhomepage1">
                            <button class="btn btn1 ">Faculty <i class="fa-solid fa-arrow-right"></i></button>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn" href="getPayFeeHomePage">
                            <button class="btn btn1">Pay Feeses <i class="fa-solid fa-arrow-right"></i></button>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn" href="getPaymentHistoryhomepage">
                            <button class="btn btn1">Recent Transactions<i class="fa-solid fa-eye"></i></button>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navbtn" href="getMockRatingHomePage">
                            <button class="btn btn1">Mock Ratings<i class="fa-solid fa-arrow-right"></i></button>
                        </a>
                    </li>
                </ul>
            </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  

</body>
</html>
